body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    background: #252934;
    color: #ffffff;
    padding: 20px;    
    text-align: left
}

.comment
{    
    font-size: 50pt;
    color: rgb(100, 100, 100)
}

.accent 
{
    color: rgb(0, 132, 255)
}

.accent a
{
    color: rgb(0, 132, 255);
    text-decoration: none
}


span.accent   {    
    font-weight: bold;    
}

.blinking
{
    animation:blinkingText 1s infinite;
}

@keyframes blinkingText{
    0%{     color: rgb(0, 132, 255);    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    80%{    color:transparent;  }
    100%{   color: rgb(0, 132, 255);    }
}